.botones {     
    height: 50px;
    background-color: #3C3C3C;
    color: aliceblue;
    font-size: 2vh;
    border-radius: .4vh;
    border: none;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.operador {
    background-color: #323232;
}

.igual {
    background-color: #000240;
}

